/* リセットCSS */
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
text-align: left;
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 16px;
}
input[type="button"],input[type="text"],input[type="submit"] {
 -webkit-appearance: none;
 border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
max-width: 100%;
height: auto;
width /***/:auto;
}

/* ここから */

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg, rgba(235, 114, 219, 0.8), rgba(153, 134, 241, 0.8)) fixed, url(/images/renga.jpg) fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", cursive;
  overflow: hidden;
}

/*  背景アニメーション */

.box .circle {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  border: solid 1px rgb(197, 235, 235);
  opacity: 0;
  z-index: -1;
}

.box .circle.a {
  top: 20%;
  left: 20%;
  animation: wave-a 4s infinite;
}

.box .circle.b {
  top: 20%;
  left: 20%;
  animation: wave-b 4s infinite;
}

.box .circle.c {
  top: 20%;
  left: 20%;
  animation: wave-c 4s infinite;
}

@keyframes wave-a {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 100px inset #6a878f;
  }
  50% {
    transform: translate(-300px, -300px);
    width: 600px;
    height: 600px;
    opacity: 0;
  }
}

@keyframes wave-b {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 100px inset #6a878f;
  }
  50% {
    transform: translate(-225px, -225px);
    width: 450px;
    height: 450px;
    opacity: 0;
  }
}

@keyframes wave-c {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 100px inset #6a878f;
  }
  50% {
    transform: translate(-150px, -150px);
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.box .circle.d {
  top: 80%;
  left: 80%;
  animation: wave-d 4s infinite;
}

.box .circle.e {
  top: 80%;
  left: 80%;
  animation: wave-e 4s infinite;
}

.box .circle.f {
  top: 80%;
  left: 80%;
  animation: wave-f 4s infinite;
}

@keyframes wave-d {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 100px inset #6a878f;
  }
  50% {
    transform: translate(-300px, -300px);
    width: 600px;
    height: 600px;
    opacity: 0;
  }
}

@keyframes wave-e {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 100px inset #6a878f;
  }
  50% {
    transform: translate(-225px, -225px);
    width: 450px;
    height: 450px;
    opacity: 0;
  }
}

@keyframes wave-f {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 100px inset #6a878f;
  }
  50% {
    transform: translate(-150px, -150px);
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/* ホームのタイトル */

.home-title {
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-title-name {
  position: relative;
  left: 41%;
}

.home-title-date {
  position: relative;
  right: 10%;
  color: aqua;
  font-size: 30px;
}

h1 {
  color: aqua;
  font-size: 70px;
}

/* メニューバー */

.menu-bar {
  background-image: url(/images/home.jpg);
  background-size: cover;
  height: 15vh;
  width: 100%;
}

.menu-bar ul {
  width: 100%;
  position: relative;
  top: 25%;
  display: flex;
  justify-content: space-around;
}

.menu-bar li {
  font-size: 35px;
  color: aqua;
  list-style: none;
}

.menu-bar li a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: aqua;
  text-decoration: none;
}

.menu-bar li a:hover {
  transition: ease 0.3s;
  transform: scale(1.4);
  color: white;
}

.menu-bar li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 100%;
  height: 1.3px;
  background-color:rgb(235, 238, 41);
  transform: translate(-100%, 0);
  transition: transform 0.6s;
}

.menu-bar li a:hover:after {
  transform: translate(0);
}

/* タイトル */

.menu-title {
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-title h1 {
  background: linear-gradient(transparent 80%, yellow 100%);
}

/* フッター */

footer {
  background-image: url(/images/book2.jpg);
  background-size: cover;
  background-position: center;
  height: 50vh;
  width: 100%;
}

.footer-contents {
  position: relative;
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-contents div {
  border: solid 1px aqua;
  position: relative;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  text-align: center;
  color: aqua;
}

.footer-bar {
  width: 100%;
  position: relative;
  height: 10vh;
}

.footer-bar ul {
  width: 100%;
  position: relative;
  top: 40%;
  display: flex;
  justify-content: space-around;
}

.footer-bar li {
  font-size: 20px;
  color: aqua;
  list-style: none;
}

.footer-bar li a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: aqua;
  text-decoration: none;
}

.footer-bar li a:hover {
  transition: ease 0.3s;
  transform: scale(1.4);
  color: white;
}

.footer-bar li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 100%;
  height: 1.3px;
  background-color:rgb(235, 238, 41);
  transform: translate(-100%, 0);
  transition: transform 0.6s;
}

.footer-bar li a:hover:after {
  transform: translate(0);
}

