html {
  min-height: 100vh;
}

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg, rgba(235, 114, 219, 0.8), rgba(153, 134, 241, 0.8)) fixed, url(/images/renga.jpg) fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", cursive;
}

img {
  height: 0;
  width: 0;
}
/* ホームのタイトル */

.home-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-title-name {
  position: relative;
  left: 38%;
}

.home-title-date {
  position: relative;
  right: 10%;
  color: aqua;
  font-size: 30px;
}

h1 {
  color: aqua;
  font-size: 70px;
}

/* メニューバー */

.menu-bar {
  height: 15vh;
  width: 100%;
}

.menu-bar ul {
  width: 100%;
  display: flex;
  justify-content: center;
}

.menu-bar li {
  font-size: 35px;
  margin-right: 10%;
  color: aqua;
  list-style: none;
}

.menu-bar li a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: aqua;
  text-decoration: none;
}

.menu-bar li a:hover {
  transition: ease 0.3s;
  transform: scale(1.4);
  color: white;
}

.menu-bar li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 100%;
  height: 1.3px;
  background-color:rgb(235, 238, 41);
  transform: translate(-100%, 0);
  transition: transform 0.6s;
}

.menu-bar li a:hover:after {
  transform: translate(0);
}

/* ホームの画像 */

.home {
  height: 50vh;
  width: 95vw;
  margin: 2%;
  margin-bottom: 10%;
  display: flex;
}

.home-text {
  border: solid aqua;
  background: none;
  font-size: 30px;
  color: aqua;
  width: 40vw;
  height: 100%;
  margin: 0 1%;
  display: block;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
}

.home-text:hover {
  border: solid white;
  color: white;
}

.home-text-block {
  position: relative;
  top: 35%;
  text-align: center;
}

.home-image {
  border: solid white;
  width: 54vw;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  border-radius: 240px 15px 100px 15px / 15px 200px 15px 185px;
  transition: 0.2s;
}

.home-image:hover {
  border: solid aqua;
  transform: scale(1.01);
  transition: 0.3s;
}

/* フッター */
footer {
  height: 40vh;
  width: 100%;
}

.footer-contents {
  position: relative;
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-contents div {
  background-color: coral;
  position: relative;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  text-align: center;
}

.footer-bar {
  width: 100%;
}

.footer-bar ul {
  width: 100%;
  display: flex;
  justify-content: center;
}

.footer-bar li {
  font-size: 20px;
  margin-right: 5%;
  color: aqua;
  list-style: none;
}

.footer-bar li a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  color: aqua;
  text-decoration: none;
}

.footer-bar li a:hover {
  transition: ease 0.3s;
  transform: scale(1.4);
  color: white;
}

.footer-bar li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1px;
  width: 100%;
  height: 1.3px;
  background-color:rgb(235, 238, 41);
  transform: translate(-100%, 0);
  transition: transform 0.6s;
}

.footer-bar li a:hover:after {
  transform: translate(0);
}
