/* リセットCSS */
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
text-align: left;
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 16px;
}
input[type="button"],input[type="text"],input[type="submit"] {
 -webkit-appearance: none;
 border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
max-width: 100%;
height: auto;
width /***/:auto;
}

/* ここから */

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Yomogi", cursive;
  display: flex;
  flex-direction: column;
}

/* メニューバー */

.menu-bar {
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(176, 222, 230, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-bar ul {
  height: 90%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu-bar ul li {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.menu-bar ul li a {
  color: white;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
}

.menu-bar ul li:hover {
  background-color: rgb(221, 139, 194);
  transition: 0.5s;
}

/* トップ画面タイトル */

.top-background {
  height: 90vh;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.background-change {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  animation:  change-anime 9s infinite;
}

.background-change:nth-child(1) {
  background-image: url(/images/top.jpg);
}

.background-change:nth-child(2) {
  background-image: url(/images/top2.jpeg);
  animation-delay: 3s;
}

.background-change:nth-child(3) {
  background-image: url(/images/top3.jpeg);
  animation-delay: 6s;
}

@keyframes change-anime {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
  }
  10% {
      opacity: 1;
  }
  40% {
    animation-timing-function: ease-out;
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


.top-title-background {
  position: absolute;
  top: 45%;
  left: 0%;
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
}

.title-background {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: seashell;
}

h1 {
  font-size: 27px;
  font-weight: bold;
  color: rosybrown;
}

/* 矢印 */

.arrow-background {
  height: 10vh;
  width: 100%;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-block-background {
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-block {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-block ul {
  height: 90%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow-block ul li {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-a {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid gray;
  animation: arrow-anime 2s infinite;
  animation-delay: 0;
}

.arrow-b {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid gray;
  animation: arrow-anime 2s infinite;
  animation-delay: 0.15s;
}

.arrow-c {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid gray;
  animation: arrow-anime 2s infinite;
  animation-delay: 0.3s;
}

@keyframes arrow-anime {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* 共通 */

.title-bar {
  height: 40vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-border {
  height: 10vh;
  width: 20%;
  background: linear-gradient(transparent 70%, yellow 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 70px;
  font-weight: bold;
  letter-spacing: 5px;
  background: -webkit-linear-gradient(top,rgba(176, 222, 230)20%,rgba(255, 255, 255)50%, rgba(176, 222, 230)80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.catalog-bar {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-btn {
  border: solid 1px rgb(176, 222, 230);
  border-radius: 10px;
  height: 60%;
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.catalog-btn:hover {
  transition: 0.4s;
  background-color: rgb(176, 222, 230);
  box-shadow: 0 0 4px gray;
}

.catalog-btn a {
  font-family: serif;
  color: rgb(176, 222, 230);

}

.catalog-btn:hover a {
  transition: 0.4s;
  color: white;
}

/* news */

.news {
  margin-bottom: 20vh;
  max-height: 130vh;
  width: 100%;
  background: linear-gradient( rgba(255, 255, 255, 1)0%,rgba(255, 255, 255, 0)5%, rgba(255, 255, 255, 1)40%), url(/images/news.JPG) fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.news-contents {
  max-height: 90vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.news-content-background {
  height: 30vh;
  width: 100%;
  background-color: rgb(250, 236, 219, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-content {
  border-bottom: dashed 2px;
  height: 90%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-content-image {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-image {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-image-tag {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.news-content-text {
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-data {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-data p {
  border-bottom: solid 1px;
  font-family: serif;
}

.news-title {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-title p {
  font-size: 20px;
  border-bottom: solid 1px;
  font-family: serif;
}

.news-text {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-text p {
  height: 90%;
  width: 90%;
  font-family: serif;
}

/* menu */

.menu {
  margin-bottom: 20vh;
  max-height: 220vh;
  width: 100%;
  background: linear-gradient( rgba(255, 255, 255, 1)0%,rgba(255, 255, 255, 0)5%, rgba(255, 255, 255, 1)30%), url(/images/menu.JPG) fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.menu-contents {
  max-height: 180vh;
  width: 90%;
  padding-right: 5%;
  padding-left: 5%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.menu-content-background {
  height: 60vh;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-content {
  background-color: white;
  box-shadow: 0 0 16px rgb(176, 222, 230);
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.menu-image {
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.menu-image-tag {
  height: 100%;
  width: 100%;
  background-size: cover;
  transition: 0.4s;
}

.menu-image:hover .menu-image-tag{
  transition: 0.4s;
  transform: scale(1.03);
}

.menu-name {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-name p {
  font-family: serif;
  background: linear-gradient(transparent 80%, rgb(176, 223, 230, 0.7) 100%);

}

.menu-price {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-price p {
  font-family: serif;
  background: linear-gradient(transparent 80%, rgb(176, 223, 230, 0.7) 100%);
}

/* contact */

.contact {
  margin-bottom: 20vh;
  min-height: 230vh;
  width: 100%;
  background: linear-gradient( rgba(255, 255, 255, 1)0%,rgba(255, 255, 255, 0)5%, rgba(255, 255, 255, 1)15%), url(/images/contact.jpg) fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.contact-warning {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-warning-text {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-warning-text p {
  border-bottom: dotted 2px rgb(187, 187, 187);
  margin-bottom: 5px;
  font-family: serif;
}

.contact-form {
  min-height: 160vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  background-color: rgb(250, 236, 219, 0.3);
  min-height: 150vh;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-box-background {
  min-height: 90%;
  width: 70%;
  background-color: white;
  border: solid 2px rgb(189, 188, 188, 0.7);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 8px rgb(182, 181, 181);
  align-items: center;
}

/* name */
.contact-name-box {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-name-title {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-name-title p {
  font-family: serif;
}

.contact-name-title span {
  font-family: serif;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: red;
  border: solid 1px red;
  border-radius: 5px;
}

.contact-name-form {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-name-form-input {
  border-bottom: dotted 2px gray;
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-name-form-input input {
  border: solid 1px;
  border-radius: 5px;
  height: 70%;
  width: 80%;
  font-family: serif;
  font-size: 16px;
  outline: none;
}

/* mail */

.contact-mail-box {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-mail-title {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-mail-title p {
  font-family: serif;
}

.contact-mail-form {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-mail-form-input {
  border-bottom: dotted 2px gray;
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-mail-form-input input {
  border: solid 1px;
  border-radius: 5px;
  height: 70%;
  width: 80%;
  font-family: serif;
  font-size: 16px;
  outline: none;
}

.contact-mail-form-input input::placeholder {
  color: rgb(187, 187, 187);
}

/* phone-number */

.contact-phone-number-box {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-phone-number-title {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-phone-number-title p {
  font-family: serif;
}

.contact-phone-number-form {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-phone-number-form-input {
  border-bottom: dotted 2px gray;
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-phone-number-form-input input {
  border: solid 1px;
  border-radius: 5px;
  height: 70%;
  width: 80%;
  font-family: serif;
  font-size: 16px;
  outline: none;
}

/* category */

.contact-category-box {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-category-title {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-category-title p {
  font-family: serif;
}

.contact-category-title span {
  font-family: serif;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: red;
  border: solid 1px red;
  border-radius: 5px;
}

.contact-category-form {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-category-form-input {
  border-bottom: dotted 2px gray;
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-category-select {
  border: solid 1px;
  border-radius: 5px;
  height: 70%;
  width: 90%;
  font-family: serif;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

/* content */

.contact-content-box {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content-title {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content-title p {
  font-family: serif;
}

.contact-content-title span {
  font-family: serif;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: red;
  border: solid 1px red;
  border-radius: 5px;
}

.contact-content-form {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content-form-input {
  border-bottom: dotted 2px gray;
  height: 90%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content-textarea {
  border: solid 1px;
  border-radius: 5px;
  height: 90%;
  width: 80%;
  font-family: serif;
  font-size: 16px;
  outline: none;
}

.contact-content-textarea::placeholder {
  color: rgb(187, 187, 187);
}

/* reply */

.contact-reply-box {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-reply-title {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-reply-title p {
  font-family: serif;
}

.contact-reply-title span {
  font-family: serif;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: red;
  border: solid 1px red;
  border-radius: 5px;
}

.contact-reply-form {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-reply-form-input {
  border-bottom: dotted 2px gray;
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-reply-select {
  border: solid 1px;
  border-radius: 5px;
  height: 70%;
  width: 90%;
  font-family: serif;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

/* btn */

.contact-btn-box {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-btn {
  border: solid 1px;
  border-radius: 5px;
  height: 50%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-btn-text {
  border: none;
  height: 100%;
  width: 100%;
  font-family: serif;
  background: none;
  cursor: pointer;
}

.contact-btn:hover {
  border: solid 1px white;
  background-color: rgb(176, 222, 230);
}

.contact-btn:hover .contact-btn-text {
  color: white;
}

/* access */

.access {
  margin-bottom: 10vh;
  max-height: 160vh;
  width: 100%;
  background: linear-gradient( rgba(255, 255, 255, 1)0%,rgba(255, 255, 255, 0)5%, rgba(255, 255, 255, 1)23%), url(/images/access.jpeg) fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.access-contents {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.access-content-background {
  height: 90%;
  width: 90%;
  background-color: rgb(250, 236, 219, 0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.access-image {
  height: 90%;
  width: 45%;
  overflow: hidden;
  background-image: url(/images/access.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.link-tag {
  height: 12%;
  width: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-btn {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-icon {
  height: 60%;
  width: 60%;
}

.link-btn p {
  font-family: serif;
  font-size: 20px;
}

.access-textarea {
  background-color: white;
  height: 90%;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.access-child {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.access-title {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.access-title h4 {
  font-family: serif;
  font-weight: bold;
  font-size: 18px;
}

.access-text {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.access-text p {
  text-align: center;
  font-family: serif;
  border-bottom: dotted 2px gray;
  margin-bottom: 3px;
}

.access-warning {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.access-warning-title {
  height: 15%;
  width: 30%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.access-warning-title h4 {
  font-family: serif;
  border-bottom: solid 2px red;
  font-weight: bold;
  font-size: 25px;
}

.access-warning-text {
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.access-warning-text p {
  font-family: serif;
  border-bottom: dotted 2px gray;
  margin-bottom: 8px;
}

.footer {
  height: 15vh;
  width:  100%;
  background-color: rgb(176, 222, 230, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-key {
  height: 90%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-link {
  margin-right: 30px;
}

.telephone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.telephone p {
  font-family: serif;
  margin-left: 10px;
}

.icon {
  height: 40px;
  width: 40px;
}

/* 従業員ボタン */

.worker {
  border: solid 1px white;
  border-radius: 10px;
  height: 80%;
  width: 70%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.worker:hover {
  transition: 0.4s;
  background-color: white;
  box-shadow: 0 0 4px gray;
}

.worker p {
  font-family: serif;
  color: white;
}

.worker:hover p {
  transition: 0.4s;
  color: rgb(176, 222, 230);
}

