/* リセットCSS */
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
text-align: left;
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 16px;
}
input[type="button"],input[type="text"],input[type="submit"] {
 -webkit-appearance: none;
 border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
max-width: 100%;
height: auto;
width /***/:auto;
}

/* body */

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: serif;
  display: flex;
  flex-direction: column;
}

/* 共通 */

/* contents */

.contents {
  margin-bottom: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* title-bar */

.title-bar {
  height: 40vh;
  width: 100%;
  background-position: top;
  background-size: cover;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 70px;
  letter-spacing: 5px;
  color: white;
  box-shadow: 2px 2px 8px black;
}

/* scroll-anime */

.scroll-anime {
  opacity: 0;
  overflow: hidden;
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes fadeInDown {
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
  transform: translate(0);
  }
}

.slide-right {transform: translateX(200px);}
.slide-left {transform: translateX(-200px);}

/* iframe */

.iframe {
  text-decoration: none;
}

.iframe:hover {
  opacity: 0.5;
  color: gray;
}

/* else-sentence */

.else-sentence {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.else-sentence p {
  font-size: 20px;
}

/* レスポンシブ対応 */

@media (max-width: 599px) {
  /* title-bar */

  .title-bar {
    height: 20vh;
  }

  h2 {
    font-size: 50px;
  }

  /* else-sentence */

  .else-sentence {
    height: 20vh;
  }

  .else-sentence p {
    font-size: 16px;
  }
}
