<%= stylesheet_link_tag 'components/access' %>

<div class="access scrollanime" id="access">

  <div class="access-title-bar">
    <h2>ACCESS</h2>
  </div>

  <div class="access-contents">

    <div class="access-content-background">

      <div class="access-image">

        <%= link_to "https://goo.gl/maps/ReN9U5vN21FpXxMU9", class:"hover" do %>
          <p>詳しい場所はこの画像ををクリック</p>
        <% end %>

      </div>

      <div class="access-textarea">

        <div class="access-child">
          <div class="access-title">
            <h4>住所</h4>
          </div>
          <div class="access-text">
            <p>〒000-0000</p>
            <p>〇〇県〇〇市〇〇 〇〇-〇〇</p>
            <p>TEL: 000-0000-000</p>
          </div>
        </div>

        <div class="access-child">
          <div class="access-title">
            <h4>アクセス</h4>
          </div>
          <div class="access-text">
            <p>〇〇線〇〇駅〇〇出口より徒歩〇分</p>
            <p>〇〇線〇〇駅〇〇出口より徒歩〇分</p>
          </div>
        </div>

        <div class="access-child">
          <div class="access-title">
            <h4>営業時間</h4>
          </div>
          <div class="access-text">
            <p>am 〇〇:〇〇 〜 pm 〇〇:〇〇</p>
            <p>ラストオーダーは閉店時間より<br>〇分前となっております</p>
          </div>
        </div>

        <div class="access-child">
          <div class="access-title">
            <h4>定休日</h4>
          </div>
          <div class="access-text">
            <p>毎週〇曜日</p>
            <p>諸事情でお休みをいただく場合がございます</p>
          </div>
        </div>

      </div>

    </div>

  </div>

  <div class="access-warning">
    <div class="access-warning-title">
      <h4>注意事項<h4>
    </div>
    <div class=access-warning-text>
      <p>コロナ感染対策としてお店での飲食は最大1時間とさせていただいております</p>
      <p>店内で飲食を希望される場合、2人以下とさせていただいております</p>
      <p>時間短縮要請などで急遽営業時間が変更になる場合やお休みとさせていただく場合がございます</p>
    </div>
  </div>

</div>
