<%= stylesheet_link_tag 'components/arrow' %>

<div class="arrow">
  <div class="arrow-box">

    <div class="arrow-block">
      <ul>
        <li><div class="arrow-a"></div></li>
        <li><div class="arrow-b"></div></li>
        <li><div class="arrow-c"></div></li>
      </ul>
    </div>

    <div class="arrow-block">
      <ul>
        <li><div class="arrow-a"></div></li>
        <li><div class="arrow-b"></div></li>
        <li><div class="arrow-c"></div></li>
      </ul>
    </div>

    <div class="arrow-block">
      <ul>
        <li><div class="arrow-a"></div></li>
        <li><div class="arrow-b"></div></li>
        <li><div class="arrow-c"></div></li>
      </ul>
    </div>

  </div>
</div>
