<%= stylesheet_link_tag 'components/contents_bar' %>

<div class="contents-bar">
  <ul>
    <li id="top-link"><p>TOP</p></li>
    <li id="news-link"><p>NEWS</p></li>
    <li id="menu-link"><p>MENU</p></li>
    <li id="contact-link"><p>CONTACT</p></li>
    <li id="access-link"><p>ACCESS</p></li>
  </ul>
</div>
