<%= stylesheet_link_tag 'components/error_messages' %>

<% if model.errors.any? %>
  <div class="alert">

    <div class="each-error">
      <% model.errors.full_messages.each do |message| %>
        <p><%= message %></p>
      <% end %>
    </div>

    <p>に、問題があり送信に失敗しました</p>
    <p>もう一度内容をご確認ください</p>

  </div>
<% end %>
