<%= stylesheet_link_tag 'components/messages' %>

<% if model.errors.any? %>

  <div class="messages">

    <div class="message">

      <div class="each-error">

        <% model.errors.full_messages.each do |message| %>
          <h5><%= message %></h5>
        <% end %>

      </div>

      <p class="alert">に問題があり送信に失敗しました</p>
      <p class="alert">もう一度内容をご確認ください</p>

    </div>

    <%= image_tag "cancel.png", class:"close-img" %>

  </div>

<% end %>

