<div class="menu">

  <div class="title-bar">
    <div class="title-border">
      <h2>MENU</h2>
    </div>
  </div>

  <div class="menu-contents">

    <div class="menu-content-background">

      <% @menus.each do |menu| %>

        <div class="menu-content">

          <div class="menu-image">
            <%= image_tag menu.image, class:"menu-image-tag"%>
          </div>
          <div class="menu-name">
            <p><%= menu.name %></p>
          </div>
          <div class="menu-price">
            <p><%= "¥#{menu.price}" %></p>
          </div>

        </div>

      <% end %>

    </div>

  </div>

  <div class="catalog-bar">
    <div class="catalog-btn">
      <a>一覧へ<a>
    </div>
  </div>

</div>
