<div class="menu">

  <div class="menu-title-bar">
    <h2>MENU</h2>
  </div>

  <div class="menu-contents">

    <% @menus.each do |menu| %>

      <div class="menu-content">

        <div class="menu-image">
          <%= image_tag menu.image, class:"menu-image-tag"%>
        </div>

        <div class="menu-text">
          <p><%= menu.name %></p>
          <p><%= "¥#{menu.price}" %><p>
        </div>

      </div>

    <% end %>

  </div>

  <div class="catalog-bar">
    <%=  link_to menus_path, class:"catalog-btn" do %>
      <p>一覧へ</p>
    <% end %>
  </div>

</div>
