<div class="news">

  <div class="news-title-bar">
    <h2>NEWS</h2>
  </div>

  <div class="news-contents">

    <% @news.first(5).each do |news| %>

      <div class="news-background">

        <div class="news-content">

          <div class="news-content-date">
            <p><%= "#{news.created_at.year}.#{news.created_at.month}.#{news.created_at.day}" %></p>
          </div>

          <div class="news-content-title">
            <p><%= news.title %></p>
          </div>

        </div>

      </div>

    <% end %>

  </div>

    <% if @news.length >= 5 %>
      <div class="multi">
        <p><%= "その他(#{@news.length - 5})"%></p>
      </div>
    <% end %>

  <div class="catalog-bar">
    <%=  link_to news_index_path, class:"catalog-btn" do %>
      <p>一覧へ</p>
    <% end %>
  </div>

</div>
