<%= stylesheet_link_tag 'components/top' %>

<div class="top">

  <div class="top-background"></div>
  <div class="top-background"></div>
  <div class="top-background"></div>

</div>


<div class="top-title">
  <%= image_tag "top.png", class:"top-icon" %>
  <h1>参ぷる</h1>
</div>

