<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css2?family=Yomogi&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'news/index' %>
  </head>

  <body>

    <%= render "components/homebar" %>

    <div class="news-index">

      <div class="title">
        <h2>NEWS</h2>
      </div>

      <div class="contents">
      </div>

    </div>

    <%= render "components/footer_second" %>

  </body>

</html>
