/* リセットCSS */
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
text-align: left;
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 16px;
}
input[type="button"],input[type="text"],input[type="submit"] {
 -webkit-appearance: none;
 border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
max-width: 100%;
height: auto;
width /***/:auto;
}

/* ここから */

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(-45deg, rgba(235, 114, 219, 0.8), rgba(153, 134, 241, 0.8)) fixed, url(/images/renga.jpg) fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: "Amatic SC", cursive;
  display: flex;
  flex-direction: column;
}

/*  背景アニメーション */

.box .circle {
  position: absolute;
  width: 0;
  height: 0;
  border-radius: 50%;
  border: solid 1px rgb(197, 235, 235);
  opacity: 0;
  z-index: -1;
}

.box .circle.a {
  top: 20%;
  left: 20%;
  animation: wave-a 4s infinite;
}

.box .circle.b {
  top: 20%;
  left: 20%;
  animation: wave-b 4s infinite;
}

.box .circle.c {
  top: 20%;
  left: 20%;
  animation: wave-c 4s infinite;
}

@keyframes wave-a {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 100px inset #6a878f;
  }
  50% {
    transform: translate(-300px, -300px);
    width: 600px;
    height: 600px;
    opacity: 0;
  }
}

@keyframes wave-b {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 100px inset #6a878f;
  }
  50% {
    transform: translate(-225px, -225px);
    width: 450px;
    height: 450px;
    opacity: 0;
  }
}

@keyframes wave-c {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 100px inset #6a878f;
  }
  50% {
    transform: translate(-150px, -150px);
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.box .circle.d {
  top: 80%;
  left: 80%;
  animation: wave-d 4s infinite;
}

.box .circle.e {
  top: 80%;
  left: 80%;
  animation: wave-e 4s infinite;
}

.box .circle.f {
  top: 80%;
  left: 80%;
  animation: wave-f 4s infinite;
}

@keyframes wave-d {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 100px inset #6a878f;
  }
  50% {
    transform: translate(-300px, -300px);
    width: 600px;
    height: 600px;
    opacity: 0;
  }
}

@keyframes wave-e {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 100px inset #6a878f;
  }
  50% {
    transform: translate(-225px, -225px);
    width: 450px;
    height: 450px;
    opacity: 0;
  }
}

@keyframes wave-f {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 100px inset #6a878f;
  }
  50% {
    transform: translate(-150px, -150px);
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

/* タイトル */

.menu-title {
  height: 15vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-title h1 {
  background: linear-gradient(transparent 80%, yellow 100%);
  color: aqua;
  font-size: 70px;
}

/* コンタクトフォーム */

.contact-box {
  margin-top: 5%;
  margin-bottom: 10%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.email-box, .phone-number-box {
  overflow: hidden;
  border-bottom: solid 1px yellow;
  height: 10vh;
  width: 40%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-box input, .phone-number-box input {
  width: 90%;
  height: 50%;
  font-size: 30px;
  color: aqua;
  background: none;
  border: none;
  outline: none;
}

.select-box {
  overflow: hidden;
  border-bottom: solid 1px yellow;
  height: 7vh;
  width: 20%;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-box select {
  width: 90%;
  height: 50%;
  font-size: 20px;
  color: aqua;
  background: none;
  border: none;
  outline: none;
}

.text-box {
  overflow: hidden;
  border-bottom: solid 1px yellow;
  height: 50vh;
  width: 60%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-box textarea {
  border: solid 1px yellow;
  border-radius: 2%;
  width: 90%;
  height: 80%;
  font-size: 25px;
  color: aqua;
  background: none;
  outline: none;
}

.text-box textarea::placeholder {
  color: rgb(179, 182, 182);
}

.btn {
  width: 20%;
  height: 10vh;
  margin-top: 8%;
  background: none;
  border: solid 1px aqua;
  color: aqua;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
}

.btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
  border: white solid 1px;
  color: white;
}

.secret {
  height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 10px;
}

.secret .secret-btn {
  width: 10%;
  height: 7vh;
  margin-right: 3%;
  background-color: white;
  border: solid 1px black;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secret .secret-btn .text {
  text-decoration: none;
  color: black;
}


.secret .secret-btn:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
