<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <% content_for :css do %>
      <%= stylesheet_link_tag 'homes/access' %>
    <% end %>
  </head>

  <body>

    <%= render partial: "shared/header" %>

    <div class="menu-title">
      <h1>access</h1>
    </div>

    <%= render partial: "shared/footer" %>

  </body>

</html>
