<!DOCTYPE html>
<html>

  <head>
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
    <% content_for :css do %>
      <%= stylesheet_link_tag 'homes/index' %>
    <% end %>
  </head>

  <body>

    <div class="background-anime"></div>

    <div class="background-image">

      <div class="home-title">
        <h1>GRAPHIC CAFE</h1>
      </div>

      <div class="home">

        <div class="home-text">
          <div class="home-text-block">
            Text
            <br>derisios
          </div>
        </div>

        <div>
          <img src="/images/introspection.jpg" class="home-image" />
        </div>

      </div>

      <div class="home">

        <div>
          <img src="/images/introspection.jpg" class="home-image" />
        </div>

        <div class="home-text">
          <div class="home-text-block">
            Text
            <br>derisios
          </div>
        </div>

      </div>

      <div class="home">

        <div class="home-text">
          <div class="home-text-block">
            Text
            <br>derisios
          </div>
        </div>

        <div>
          <img src="/images/introspection.jpg" class="home-image" />
        </div>

      </div>

    <div>

  </body>

</html>
