/* access */

.access-title {
  background-image: url(/images/access.jpeg);
}

.access-contents {
  width: 100%;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.access-box {
  width: 90%;
  background-color: rgba(250, 236, 219, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.access-item {
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 80vh;
  width: 90%;
  display: flex;
}

.access-image {
  height: 100%;
  width: 50%;
  overflow: hidden;
  background-image: url(/images/access.jpg);
  background-position: center center;
  background-size: cover;
  display: flex;
  transition: 0.4s;
}

.access-image:hover {
  opacity: 0.7;
  transition: 0.4s;
}

.hover {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 0;
  transition: 0.4s;
}

.access-image:hover .hover {
  opacity: 1;
  transition: 0.4s;
}

.hover p {
  font-size: 30px;
  color: white;
  margin-bottom: 5%;
}

.access-info {
  background-color: white;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.access-info-child {
  height: 25%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.access-info-title {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.access-info-title h4 {
  font-weight: bold;
  font-size: 18px;
}

.access-info-text {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.access-info-text p {
  text-align: center;
  border-bottom: dotted 2px gray;
  margin-bottom: 3px;
}

.access-warning {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.access-warning-title {
  height: 15%;
  width: 30%;
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.access-warning-title h3 {
  border-bottom: solid 2px red;
  font-weight: bold;
  font-size: 25px;
}

.access-warning-text {
  height: 80%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.access-warning-text p {
  border-bottom: dotted 2px gray;
  margin-bottom: 8px;
}

/* レスポンシブ対応 */
@media (max-width: 599px) {
  .access-contents {
    margin-bottom: 5vh;
  }

  .access-item {
    margin-top: 5vh;
    margin-bottom: 5vh;
    height: 120vh;
    flex-direction: column;
  }

  .access-image {
    height: 30%;
    width: 100%;
  }

  .access-info {
    height: 70%;
    width: 100%;
  }

  .access-info-child {
    flex-direction: column;
  }

  .access-info-title {
    height: 20%;
    width: 40%;
  }

  .access-info-title h4 {
    font-size: 16px;
  }

  .access-info-text {
    height: 80%;
    width: 90%;
  }

  .access-warning {
    height: 40vh;
  }

  .access-warning-title {
    height: 10%;
    width: 50%;
  }

  .access-warning-title h3 {
    font-size: 16px;
  }

  .access-warning-text {
    height: 90%;
    width: 90%;
    justify-content: center;
    align-items: center;
  }
}
