/* arrow */

.arrow {
  height: 10vh;
  width: 100%;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-box {
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-block {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-block ul {
  height: 90%;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.arrow-block ul li {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow-a {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid gray;
  animation: arrow-anime 2s infinite;
  animation-delay: 0;
}

.arrow-b {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid gray;
  animation: arrow-anime 2s infinite;
  animation-delay: 0.15s;
}

.arrow-c {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid gray;
  animation: arrow-anime 2s infinite;
  animation-delay: 0.3s;
}

@keyframes arrow-anime {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
