/* contact */

.contact-title {
  background-image: url(/images/contact.jpg);
}

.contact-warning {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-warning-text {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-warning-text p {
  border-bottom: dotted 2px gray;
  margin-bottom: 5px;
  font-family: serif;
}

.contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form-contents {
  background-color: rgba(250, 236, 219, 0.3);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-form-box {
  width: 70%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: white;
  border: solid 2px gray;
  box-shadow: 0 0 8px gray;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 共通 */
/* contact-common */

.contact-common-box {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-common-title {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span {
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: red;
  border: solid 1px red;
  border-radius: 5px;
}

.contact-common-form {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-common-form-input {
  border-bottom: dotted 2px gray;
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-common-form-input input {
  border: solid 1px;
  border-radius: 5px;
  height: 70%;
  width: 80%;
  font-size: 16px;
  outline: none;
}

.error {
  color: red;
}

::placeholder {
  color: rgb(187, 187, 187);
}

/* category */
/* reply*/

.contact-select-form-input {
  border-bottom: dotted 2px gray;
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-select {
  border: solid 1px;
  border-radius: 5px;
  height: 70%;
  width: 90%;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

/* content */

.contact-content-box {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content-title {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content-form {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content-form-input {
  border-bottom: dotted 2px gray;
  height: 90%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content-textarea {
  border: solid 1px;
  border-radius: 5px;
  height: 90%;
  width: 80%;
  font-size: 16px;
  outline: none;
}

/* btn */

.contact-btn-box {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-btn {
  border: solid 1px;
  border-radius: 5px;
  height: 50%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-btn-text {
  border: none;
  height: 100%;
  width: 100%;
  background: none;
  cursor: pointer;
}

.contact-btn:hover {
  border: solid 1px white;
  background-color: rgb(176, 222, 230);
  box-shadow: 0 0 4px gray;
}

.contact-btn:hover .contact-btn-text {
  color: white;
}

/* レスポンシブ対応 */

@media (max-width: 599px) {
  .contact-warning {
    height: 50vh;
  }

  .contact-warning-text p {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .contact-form-box {
    width: 90%;
    margin-top: 5vh;
    margin-bottom: 5vh;
  }

  .contact-common-box {
    height: 10vh;
  }

  .contact-common-form-input {
    width: 90%;
  }

  .contact-select-form-input {
    width: 70%;
  }

  .contact-content-textarea {
    width: 90%;
  }

  .contact-btn {
    width: 40%;
  }
}

