/* contact */

.contact {
  margin-bottom: 20vh;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.contact-title-bar {
  height: 40vh;
  width: 100%;
  background-image: url(/images/contact.jpg);
  background-position: top;
  background-size: cover;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-warning {
  height: 30vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-warning-text {
  height: 90%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-warning-text p {
  border-bottom: dotted 2px rgb(187, 187, 187);
  margin-bottom: 5px;
  font-family: serif;
}

.contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-box {
  background-color: rgb(250, 236, 219, 0.3);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-box-background {
  width: 70%;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: white;
  border: solid 2px rgb(189, 188, 188, 0.7);
  box-shadow: 0 0 8px rgb(182, 181, 181);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* name */
.contact-name-box {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-name-title {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-name-title span {
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: red;
  border: solid 1px red;
  border-radius: 5px;
}

.contact-name-form {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-name-form-input {
  border-bottom: dotted 2px gray;
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-name-form-input input {
  border: solid 1px;
  border-radius: 5px;
  height: 70%;
  width: 80%;
  font-size: 16px;
  outline: none;
}

/* mail */

.contact-mail-box {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-mail-title {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-mail-form {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-mail-form-input {
  border-bottom: dotted 2px gray;
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-mail-form-input input {
  border: solid 1px;
  border-radius: 5px;
  height: 70%;
  width: 80%;
  font-size: 16px;
  outline: none;
}

.contact-mail-form-input input::placeholder {
  color: rgb(187, 187, 187);
}

/* phone-number */

.contact-phone-number-box {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-phone-number-title {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-phone-number-form {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-phone-number-form-input {
  border-bottom: dotted 2px gray;
  height: 80%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-phone-number-form-input input {
  border: solid 1px;
  border-radius: 5px;
  height: 70%;
  width: 80%;
  font-size: 16px;
  outline: none;
}

/* category */

.contact-category-box {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-category-title {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-category-title span {
  font-family: serif;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: red;
  border: solid 1px red;
  border-radius: 5px;
}

.contact-category-form {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-category-form-input {
  border-bottom: dotted 2px gray;
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-category-select {
  border: solid 1px;
  border-radius: 5px;
  height: 70%;
  width: 90%;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

/* content */

.contact-content-box {
  height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-content-title {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content-title span {
  font-family: serif;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: red;
  border: solid 1px red;
  border-radius: 5px;
}

.contact-content-form {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content-form-input {
  border-bottom: dotted 2px gray;
  height: 90%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-content-textarea {
  border: solid 1px;
  border-radius: 5px;
  height: 90%;
  width: 80%;
  font-size: 16px;
  outline: none;
}

.contact-content-textarea::placeholder {
  color: rgb(187, 187, 187);
}

/* reply */

.contact-reply-box {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-reply-title {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-reply-title span {
  font-family: serif;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: red;
  border: solid 1px red;
  border-radius: 5px;
}

.contact-reply-form {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-reply-form-input {
  border-bottom: dotted 2px gray;
  height: 80%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-reply-select {
  border: solid 1px;
  border-radius: 5px;
  height: 70%;
  width: 90%;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

/* btn */

.contact-btn-box {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-btn {
  border: solid 1px;
  border-radius: 5px;
  height: 50%;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-btn-text {
  border: none;
  height: 100%;
  width: 100%;
  background: none;
  cursor: pointer;
}

.contact-btn:hover {
  border: solid 1px white;
  background-color: rgb(176, 222, 230);
  box-shadow: 0 0 4px gray;
}

.contact-btn:hover .contact-btn-text {
  color: white;
}

.error {
  color: red;
}

/* flash */

.flash {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash p {
  font-size: 20px;
}
