/* alert */

.alert {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.alert p {
  color: red;
}

.each-error {
  display: flex;
}

.each-error p {
  margin-right: 20px;
  border-bottom: dotted 1px red;
}
