/* footer */

.footer {
  height: 15vh;
  width:  100%;
  background-color: rgba(176, 222, 230, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-key {
  height: 90%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-link {
  margin-right: 30px;
}

.icon-link:hover {
  opacity: 0.5;
}

.telephone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.telephone p {
  margin-left: 10px;
}

.icon {
  height: 40px;
  width: 40px;
}

/* 従業員ボタン */

.worker-access {
  border: solid 1px white;
  border-radius: 10px;
  height: 80%;
  width: 70%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.worker-access:hover {
  transition: 0.4s;
  background-color: white;
  box-shadow: 0 0 4px gray;
}

.worker-access p {
  color: white;
}

.worker-access:hover p {
  transition: 0.4s;
  color: rgb(176, 222, 230);
}

/* レスポンシブ対応 */

@media (max-width: 599px) {
  .footer {
    height: 30vh;
  }

  .icons {
    height: 90%;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-key {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .responsive-icon{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .icon-link {
    margin-right: 16px;
  }

  .responsive-telephone {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .telephone {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .telephone p {
    margin-left: 8px;
  }

  .icon {
    height: 24px;
    width: 24px;
  }
}


@media (max-width : 1024px) {
  .responsive-worker {
    display: none;
  }
}

@media (orientation: landscape) and (max-width: 900px) {
  .footer {
    height: 30vh;
  }

  .icons {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer-key {
    height: 90%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-link {
    margin-right: 16px;
  }

  .telephone p {
    margin-left: 8px;
  }

  .icon {
    height: 32px;
    width: 32px;
  }

  .responsive-worker {
    display: none;
  }
}


