/* footer */

.footer {
  height: 15vh;
  width:  100%;
  background-color: rgb(176, 222, 230, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-key {
  height: 90%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-link {
  margin-right: 30px;
}

.icon-link:hover {
  opacity: 0.5;
}

.telephone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.telephone p {
  margin-left: 10px;
}

.icon {
  height: 40px;
  width: 40px;
}

/* 従業員ボタン */

.worker {
  border: solid 1px white;
  border-radius: 10px;
  height: 80%;
  width: 70%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.worker:hover {
  transition: 0.4s;
  background-color: white;
  box-shadow: 0 0 4px gray;
}

.worker p {
  color: white;
}

.worker:hover p {
  transition: 0.4s;
  color: rgb(176, 222, 230);
}
