/* menu */

.menu {
  margin-bottom: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-title-bar {
  height: 40vh;
  width: 100%;
  background-image: url(/images/menu.JPG);
  background-position: top;
  background-size: cover;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.type {
  margin-bottom: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.type-name {
  margin-bottom: 10vh;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-name p {
  border-top: double 4px rgba(189, 175, 155);
  border-bottom: double 4px rgba(189, 175, 155);
  font-size: 40px;
  color: rgba(189, 175, 155);
}

.type-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-contents {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-content {
  margin-bottom: 5vh;
  height: 60vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-image {
  height: 80%;
  width: 85%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.menu-image:hover {
  opacity: 0.4;
  transition: 0.2s;
  box-shadow: 0 0 10px gray;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.menu-text {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-text p {
  margin-top: 10px;
}

.name-border {
  border-bottom: solid 1px rgba(3, 211, 226);
}
