/* menu */

.menu {
  margin-bottom: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-title-bar {
  height: 40vh;
  width: 100%;
  background-image: url(/images/menu.JPG);
  background-position: top;
  background-size: cover;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 70px;
  letter-spacing: 5px;
  color: white;
}

.menu-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.type {
  min-height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.type-name {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.type-name p {
  border-top: double 4px rgb(189, 175, 155);
  border-bottom: double 4px rgb(189, 175, 155);
  font-size: 40px;
  color: rgb(189, 175, 155);
}

.type-content {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-contents {
  height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-content {
  height: 60vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-image {
  height: 80%;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.4s;
}

.menu-image:hover {
  opacity: 0.5;
  transition: 0.4s;
  box-shadow: 0 0 8px gray;
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.menu-image-tag {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.menu-text {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-text p {
  margin-top: 10px;
}

.name-border {
  border-bottom: solid 1px rgb(3, 211, 226);
}
