/* menu */

.menu-title {
  background-image: url(/images/menu.JPG);
}

.menu-contents {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-type {
  margin-bottom: 10vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.menu-type-name {
  margin-bottom: 10vh;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-type-name p {
  border-top: double 4px rgba(189, 175, 155);
  border-bottom: double 4px rgba(189, 175, 155);
  font-size: 40px;
  color: rgba(189, 175, 155);
}

.menu-type-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item-box {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  margin-bottom: 5vh;
  height: 60vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item-image {
  height: 80%;
  width: 85%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.menu-item-image:hover {
  opacity: 0.4;
  transition: 0.2s;
  box-shadow: 0 0 10px gray;
  -webkit-transform: rotate(-2deg);
  transform: rotate(-2deg);
}

.menu-item-text {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item-text p {
  margin-top: 10px;
}

.border {
  border-bottom: solid 1px rgb(3, 211, 226);
}

@media (max-width: 599px) {
  .menu-type-name {
    height: 5vh;
  }

  .menu-item {
    height: 20vh;
    width: 45%;
    margin-bottom: 10vh;
  }
}
