/* news */

.news-title {
  background-image: url(/images/news.JPG);
}

.news-contents {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-box {
  max-height: 75vh;
  width: 90%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.news-item {
  height: 15vh;
  min-height: 15vh;
  width: 100%;
  background-color: rgba(250, 236, 219, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-item-text {
  border-bottom: dotted 2px;
  height: 60%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-item-date {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-item-date p {
  font-weight: bold;
}

.news-item-title {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-item-title p {
  border-bottom: solid 1px gray;
}

/* scrollbar */

.news-box::-webkit-scrollbar {
  width: 8px;
}

/*スクロールバーの動く部分*/
.news-box::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 50, 0.5);
border-radius: 10px;
box-shadow:0 0 0 1px rgba(255, 255, 255, 0.3);
}

/* レスポンシブ対応 */

@media (max-width: 599px) {
  .news-box {
    max-height: 50vh;
  }

  .news-item {
    height: 10vh;
    min-height: 10vh;
  }

  .news-item-text {
    border-bottom: dotted 2px;
    height: 60%;
    width: 90%;
  }

  .news-item-date {
    width: 30%;
  }

  .news-item-date p {
    font-weight: normal;
  }

  .news-item-title p {
    border-bottom: solid 1px gray;
  }

  /* scrollbar */

  .news-box::-webkit-scrollbar {
    width: 4px;
  }

}

