/* news */

.news {
  margin-bottom: 20vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-title-bar {
  height: 40vh;
  width: 100%;
  background-image: url(/images/news.JPG);
  background-position: top;
  background-size: cover;
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-contents {
  min-height: 75vh;
  max-height: 75vh;
  width: 90%;
  overflow: scroll;
  display: flex;
  flex-direction: column;
}

.news-background {
  height: 15vh;
  min-height: 15vh;
  width: 100%;
  background-color: rgba(250, 236, 219, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-content {
  border-bottom: dotted 2px;
  height: 60%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-content-date {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-content-date p {
  font-weight: bold;
}

.news-content-title {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iframe {
  text-decoration: none;
  border-bottom: solid 1px;
}

.iframe:hover {
  opacity: 0.5;
  color: gray;
}

/* scrollbar */

.news-contents::-webkit-scrollbar {
  width: 8px;
}

/*スクロールバーの動く部分*/
.news-contents::-webkit-scrollbar-thumb {
background-color: rgba(0, 0, 50, 0.5);
border-radius: 10px;
box-shadow:0 0 0 1px rgba(255, 255, 255, 0.3);
}

