/* リセットCSS */
@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: none;
font-style: normal;
text-align: left;
zoom: 1;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
display: block;
}
table {
border-collapse: collapse;
font-family: inherit;
}
h1,h2,h3,h4,h5 {
font-size: 100%;
font-weight: normal;
line-height: 1;
}
input,textarea,select {
font-family: inherit;
font-size: 16px;
}
input[type="button"],input[type="text"],input[type="submit"] {
 -webkit-appearance: none;
 border-radius: 0;
}
textarea {
resize: none;
-webkit-appearance: none;
border-radius: 0;
}
th,td {
border-collapse: collapse;
}
table th,table td {
white-space: nowrap;
}
ul,ol {
list-style-type: none;
}
img {
vertical-align: text-bottom;
vertical-align: -webkit-baseline-middle;
max-width: 100%;
height: auto;
width /***/:auto;
}

/* body */

body {
  height: 100vh;
  width: 100%;
  font-family: serif;
  background-color: #FF99CC;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item-background {
  height: 90%;
  width: 80%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item {
  height: 90%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-image-box {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-image {
  height: 80%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-image-size {
  height: 100%;
  width: 100%;
}

.menu-item-text-box {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-item-name-price {
  border-bottom: dotted 3px aqua;
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item-name-price p {
  font-family: "Yomogi", cursive;
  font-size: 22px;
  font-weight: bold;
}

.menu-item-description {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-description-textarea {
  height: 80%;
  width: 80%;
  overflow: hidden;
}

.menu-item-description-textarea p {
  font-family: serif;
  font-size: 18px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.worker-btn {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.btn {
  border: solid 1px rgb(176, 222, 230);
  border-radius: 5px;
  height: 70%;
  width: 30%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.btn:hover {
  transition: 0.4s;
  border: solid 1px white;
  background-color: rgb(176, 222, 230);
  box-shadow: 0 0 4px gray;
}

.btn p {
  font-size: 18px;
  color: rgb(176, 222, 230);
}

.btn:hover p {
  transition: 0.4s;
  color: white;
}

/* レスポンシブ対応 */

@media (max-width: 599px) {
  .menu-item {
    flex-direction: column;
  }

  .menu-item-image-box {
    height: 50%;
    width: 100%;
  }

  .menu-item-image {
    height: 90%;
  }

  .menu-item-text-box {
    height: 50%;
    width: 100%;
  }

  .menu-item-name-price {
    height: 20%;
  }

  .menu-item-name-price p {
    font-size: 16px;
  }

  .menu-item-description {
    height: 60%;
  }

  .menu-item-description-textarea p {
    font-size: 16px;
  }
}

@media (max-width : 1024px) {
  .worker-btn {
    display: none;
  }
}

@media (orientation: landscape) and (max-width: 900px) {
  .menu-item-name-price {
    border-bottom: dotted 2px aqua;
    overflow: hidden;
  }

  .menu-item-name-price p {
    font-size: 16px;
    font-weight: normal;
  }

  .menu-item-description-textarea p {
    font-size: 16px;
  }
}
